openapi: 3.1.0
info:
  title: PixelsHub Rayman
  description: |
    Draft contract for the Rayman 1.x API aligned with the new entity-based data model.
    Authentication accepts both bearer JWT headers and the `rayman_auth` cookie.
  contact:
    email: desarrollo@pixels-hub.com
  license:
    name: All Rights Reserved
    url: https://choosealicense.com/no-permission/
  version: 1.0.0-draft.1
servers:
  - url: https://rayman.pixels-hub.com/dev/api
    description: Development server
  - url: http://localhost/rayman/api
    description: Local server
  - url: https://cableo.es/v1/api
    description: Production server
security:
  - jwt: []
tags:
  - name: Authentication
  - name: Users
  - name: Actors
  - name: Permission Groups
  - name: Permissions
  - name: Entity Variants
  - name: Entity Variants > Children
  - name: Entity Variants > Signs
  - name: Entity Variants > Tags
  - name: Entities
  - name: Entities > Assets
  - name: Entities > Relations
  - name: Entities > Signs
  - name: Entities > Tags
  - name: Assets
  - name: Signs > Icons
  - name: Procedures
  - name: Procedures > Steps
paths:
  /auth/login:
    post:
      tags:
        - Authentication
      security: []
      summary: Authenticates a user and returns a JWT token while also setting the browser auth cookie
      description: |
        The authenticated session can be used in two ways:
        - as a bearer token in the `Authorization` header
        - as the `rayman_auth` cookie in browser-based clients

        Tenant selection flow:
        - If the user only has access to one organization, the returned token is already bound to that organization.
        - If the user has access to multiple organizations and no `organizationSlug` is provided, the returned token has no tenant selected and the response includes the organizations available for selection.
        - A token without tenant selection is only valid for authentication endpoints.
        - Tenant-based module endpoints must reject a token without selected organization with `401` or `403`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - user
              properties:
                user:
                  type: string
                password:
                  type: string
                organizationSlug:
                  type: string
                  description: Organization slug to bind the returned token to a tenant.
              example:
                user: expert@demo.com
                password: demo
        required: true
      responses:
        '200':
          description: |
            Authenticated session.
            The same JWT is returned in the response body for programmatic clients and also set as the `rayman_auth` cookie for browser clients.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: xxxxx.yyyyy.zzzzz
                  actor:
                    $ref: '#/components/schemas/Actor'
                  organization:
                    $ref: '#/components/schemas/OrganizationSelection'
                    description: Present when the returned token is bound to a tenant.
                  displayName:
                    type: string
                    description: Present when the user must choose a tenant in a second step.
                  organizations:
                    type: array
                    description: Present only when the user must choose a tenant in a second step.
                    items:
                      $ref: '#/components/schemas/OrganizationSelection'
        '400':
          description: Bad Request. *user* or *password* is not valid.
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /auth/refresh:
    post:
      tags:
        - Authentication
      security:
        - cookie: []
        - jwt: []
      summary: Restores and renews a browser session
      description: |
        Accepts a valid JWT from the `rayman_auth` HttpOnly cookie or from the `Authorization: Bearer <token>` header.
        When both are supplied, a valid cookie takes precedence; if one credential is invalid and the other is valid,
        the valid credential is used. If neither is valid, the response is `401`.

        The response has the same shape as a successful tenant-bound login: it returns a newly issued bearer JWT,
        refreshes the `rayman_auth` cookie, includes the authenticated actor, and preserves the `org` tenant claim
        from the credential used to authenticate the request. Browser clients must send the request with credentials
        enabled; the cookie is HttpOnly and is not intended to be read by client-side code.
      responses:
        '200':
          description: Renewed authenticated session. Tenant-bound sessions include `actor` and `organization`; sessions without a selected tenant include `displayName` and `organizations`.
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                properties:
                  token:
                    type: string
                    description: Newly issued bearer JWT.
                    example: xxxxx.yyyyy.zzzzz
                  actor:
                    $ref: '#/components/schemas/Actor'
                  organization:
                    $ref: '#/components/schemas/OrganizationSelection'
                    description: Present when the renewed token is bound to a tenant.
                  displayName:
                    type: string
                    description: Present when the renewed token has no tenant selected.
                  organizations:
                    type: array
                    description: Present only when the renewed token has no tenant selected.
                    items:
                      $ref: '#/components/schemas/OrganizationSelection'
        '401':
          $ref: '#/components/responses/401'
        5XX:
          $ref: '#/components/responses/5XX'
  /auth/login/organizations:
    get:
      tags:
        - Authentication
      summary: Returns organizations accessible by the authenticated user
      description: |
        Intended for the second step of the multi-tenant login flow, when the current token is authenticated but not yet bound to a tenant.
      responses:
        '200':
          description: List of organizations the user can access
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationSelection'
        '401':
          $ref: '#/components/responses/401'
        5XX:
          $ref: '#/components/responses/5XX'
  /auth/login/organizations/{organizationSlug}:
    get:
      tags:
        - Authentication
      summary: Returns one organization if the authenticated user can access it
      parameters:
        - in: path
          name: organizationSlug
          required: true
          description: Organization slug.
          schema:
            type: string
      responses:
        '200':
          description: Organization data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSelection'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
  /auth/login/organizations/{organizationSlug}/select:
    post:
      tags:
        - Authentication
      summary: Selects an organization and refreshes the JWT so it becomes bound to that tenant
      description: |
        Returns a token valid for tenant-based module APIs.
        The token is returned in the response body and also set as the `rayman_auth` cookie.
      parameters:
        - in: path
          name: organizationSlug
          required: true
          description: Organization slug.
          schema:
            type: string
      responses:
        '200':
          description: Refreshed token bound to selected organization
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - actor
                  - organization
                properties:
                  token:
                    type: string
                    example: xxxxx.yyyyy.zzzzz
                  actor:
                    $ref: '#/components/schemas/Actor'
                  organization:
                    $ref: '#/components/schemas/OrganizationSelection'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /auth/password/change:
    post:
      tags:
        - Authentication
      security:
        - jwt: []
        - {}
      summary: Changes a password either for the authenticated user or by using a one-time reset token
      description: |
        This endpoint supports two valid flows:
        - authenticated password change, using `oldPassword` + `newPassword`
        - password reset completion, using a one-time `token` + `newPassword`

        The request body determines which flow is being used.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - required:
                    - oldPassword
                    - newPassword
                  description: Used for an authenticated user to change their password
                  properties:
                    oldPassword:
                      type: string
                      format: password
                    newPassword:
                      type: string
                      format: password
                  example:
                    oldPassword: myOldPassword
                    newPassword: newPassword
                - required:
                    - token
                    - newPassword
                  description: Used for a non authenticated user to change their password, identifying themselves with a previously given token, for example password recovery
                  properties:
                    token:
                      type: string
                    newPassword:
                      type: string
                      format: password
                  example:
                    token: HIKEOEJKMXX
                    newPassword: newPassword
      responses:
        '204':
          description: Password changed succesfully.
        '400':
          description: Bad Request. *oldPassword* is wrong or *newPassword* is not valid.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          description: Unexpected Error
  /auth/password/reset:
    post:
      tags:
        - Authentication
      security: []
      summary: Sends a password reset email with a one-time link to choose a new password
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
          application/json:
            schema:
              properties:
                email:
                  type: string
                  format: email
        required: true
      responses:
        '204':
          description: Password reset succesfully.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Not Found. User ID or email doesn't exist.
        '422':
          $ref: '#/components/responses/422'
        5XX:
          description: Unexpected Error
  /users:
    get:
      tags:
        - Users
      summary: Gets an array of users.
      parameters:
        - name: disabled
          in: query
          required: false
          schema:
            type: boolean
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Users
      summary: Creates a new user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCore'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /users/current:
    get:
      tags:
        - Users
      summary: Gets the current authenticated user.
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /users/{userID}:
    get:
      tags:
        - Users
      summary: Gets a user by ID.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Users
      summary: Updates a user.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Users
      summary: Deletes a user.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /actors:
    get:
      tags:
        - Actors
      summary: Gets actors visible in the current tenant.
      parameters:
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: user'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
  /actors/current:
    get:
      tags:
        - Actors
      summary: Gets the current authenticated actor and creates it if it does not exist yet.
      parameters:
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: user'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
  /actors/{actorID}:
    get:
      tags:
        - Actors
      summary: Gets an actor by ID.
      parameters:
        - name: actorID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: user'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/groups:
    get:
      tags:
        - Permission Groups
      summary: Gets all permission groups for the current tenant.
      parameters:
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: users,grants'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionGroup'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Permission Groups
      summary: Creates a permission group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionGroupCore'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/groups/{groupID}:
    get:
      tags:
        - Permission Groups
      summary: Gets a permission group by ID.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: users,grants'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Permission Groups
      summary: Updates a permission group.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionGroupUpdate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Permission Groups
      summary: Deletes a permission group.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/groups/{groupID}/users:
    get:
      tags:
        - Permission Groups
      summary: Gets the users currently assigned to a permission group.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Permission Groups
      summary: Adds users to a permission group.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Permission Groups
      summary: Removes users from a permission group.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/users/{userID}:
    get:
      tags:
        - Permissions
      summary: Gets all permission grants for a specific user principal.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: include
          in: query
          required: false
          description: 'CSV list of sections to include. Supported values: system,entities'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalPermissionBundle'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/users/{userID}/effective:
    get:
      tags:
        - Permissions
      summary: Gets computed effective permissions for a specific user.
      description: |
        Supports `userID=current` to resolve the authenticated token user.
        This endpoint only returns:
        - effective system permissions
        - effective global entity permissions (`entityID = null` grants), resolved by `variant`
        It intentionally excludes entity-specific grants.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            oneOf:
              - $ref: '#/components/schemas/UUID'
              - type: string
                enum:
                  - current
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectiveUserPermissions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/users/{userID}/grants:
    get:
      tags:
        - Permissions
      summary: Gets grants for a specific user principal.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          description: Filter by grant type.
          schema:
            type: string
            enum:
              - system
              - entity
        - name: scope
          in: query
          required: false
          description: Applies only when `type=system`.
          schema:
            $ref: '#/components/schemas/SystemPermissionScope'
        - name: entityID
          in: query
          required: false
          description: Applies only when `type=entity`.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Permissions
      summary: Creates a grant for a specific user principal.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalGrantWrite'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/users/{userID}/grants/{grantID}:
    patch:
      tags:
        - Permissions
      summary: Updates a grant for a specific user principal.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: grantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalGrantWrite'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Permissions
      summary: Deletes a grant for a specific user principal.
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: grantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          description: Optional disambiguation when deleting by grant ID.
          schema:
            type: string
            enum:
              - system
              - entity
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/groups/{groupID}/grants:
    get:
      tags:
        - Permissions
      summary: Gets grants for a specific group principal.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - system
              - entity
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SystemPermissionScope'
        - name: entityID
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Permissions
      summary: Creates a grant for a specific group principal.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalGrantWrite'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/groups/{groupID}/grants/{grantID}:
    patch:
      tags:
        - Permissions
      summary: Updates a grant for a specific group principal.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: grantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalGrantWrite'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Permissions
      summary: Deletes a grant for a specific group principal.
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: grantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - system
              - entity
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/everyone/grants:
    get:
      tags:
        - Permissions
      summary: Gets grants for the global everyone principal.
      parameters:
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - system
              - entity
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SystemPermissionScope'
        - name: entityID
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Permissions
      summary: Creates a grant for the global everyone principal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalGrantWrite'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/everyone/grants/{grantID}:
    patch:
      tags:
        - Permissions
      summary: Updates a grant for the global everyone principal.
      parameters:
        - name: grantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalGrantWrite'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrincipalGrant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Permissions
      summary: Deletes a grant for the global everyone principal.
      parameters:
        - name: grantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - system
              - entity
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/entities/{entityID}/principals:
    get:
      tags:
        - Permissions
      summary: Gets all entity grants anchored at an entity, organized for principal-focused UIs.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: principalType
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PrincipalType'
        - name: principalID
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityPrincipalGrants'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /permissions/entities/{entityID}/explain:
    get:
      tags:
        - Permissions
      summary: Explains why a principal can or cannot access an entity.
      description: |
        Returns the current effective decision for the entity and the full grant chain
        considered during evaluation, including precedence between conflicting grants.
        The response is a precedence-ordered list of grants (direct user, group, everyone),
        each one marked with `applies=true|false`, and with the decisive grant explicitly flagged.
        Designed for admin/debug tooling and permission troubleshooting UIs.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: userID
          in: query
          required: true
          description: User to evaluate (nominal explain).
          schema:
            $ref: '#/components/schemas/UUID'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: entities,variants,groups'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionExplainEntityAccess'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants:
    get:
      tags:
        - Entity Variants
      summary: Gets all entity variants available in the current tenant.
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EntityType'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: children, signs, tags'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityVariant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entity Variants
      summary: Creates a new entity variant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityVariantCore'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityVariant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants/{variantID}:
    get:
      tags:
        - Entity Variants
      summary: Gets a single entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: children, signs, tags'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityVariant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Entity Variants
      summary: Updates an entity variant.
      description: The variant type is immutable. Supplying a different `type` returns `409 Conflict`.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityVariantUpdate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityVariant'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entity Variants
      summary: Deletes an entity variant.
      description: Deletion is blocked if any entity currently uses the variant. If no entities use it, dependent records are deleted.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants/{variantID}/signs:
    get:
      tags:
        - Entity Variants > Signs
      summary: Gets all signs defined for an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - icon
              - verification
              - warning
              - prohibition
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sign'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entity Variants > Signs
      summary: Creates a sign under an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariantSignCreate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sign'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants/{variantID}/signs/{signID}:
    get:
      tags:
        - Entity Variants > Signs
      summary: Gets a sign by ID within an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: signID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sign'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Entity Variants > Signs
      summary: Updates a sign within an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: signID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpdate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sign'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entity Variants > Signs
      summary: Deletes a sign from an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: signID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants/{variantID}/children:
    get:
      tags:
        - Entity Variants > Children
      summary: Gets the child variants allowed under an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityVariantRef'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entity Variants > Children
      summary: Adds allowed child variants under an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entity Variants > Children
      summary: Removes allowed child variants from an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants/{variantID}/tags:
    get:
      tags:
        - Entity Variants > Tags
      summary: Gets all tags defined for an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entity Variants > Tags
      summary: Creates a tag under an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariantTagCreate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entity-variants/{variantID}/tags/{tagID}:
    get:
      tags:
        - Entity Variants > Tags
      summary: Gets a tag by ID within an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: tagID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Entity Variants > Tags
      summary: Updates a tag within an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: tagID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entity Variants > Tags
      summary: Deletes a tag from an entity variant.
      parameters:
        - name: variantID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: tagID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities:
    get:
      tags:
        - Entities
      summary: Gets entities filtered by variant, type or parent.
      parameters:
        - name: variantID
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EntityType'
        - name: status
          in: query
          required: false
          description: Optional entity status filter. When omitted, the response includes every status allowed by the caller's permissions.
          schema:
            $ref: '#/components/schemas/EntityStatus'
        - name: parentID
          in: query
          required: false
          description: Parent entity filter. Use a UUID to filter direct children of that parent. Use the literal `null` to filter root entities (`parentID IS NULL`).
          schema:
            type: string
        - name: includeDescendants
          in: query
          required: false
          description: When `true` and `parentID` is a UUID, includes descendants up to `maxDepth`. Ignored when `parentID=null`.
          schema:
            type: boolean
        - name: maxDepth
          in: query
          required: false
          description: Maximum descendant distance from `parentID` when `includeDescendants=true`. Defaults to `1` (direct children); use `-1` for the full subtree. Values of `0` and less than `-1` are invalid. Ignored unless `parentID` is a UUID and `includeDescendants=true`.
          schema:
            default: 1
            oneOf:
              - const: -1
              - type: integer
                minimum: 1
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: assets, relations, signs, tags, parent, variant, ancestors'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entities
      summary: Creates a generic entity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityCore'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/search:
    get:
      tags:
        - Entities
      summary: Searches entities by text, tags, ancestor or status.
      parameters:
        - name: text
          in: query
          required: false
          description: Case-insensitive partial match against the entity name. Required unless tagIDs, parentID or status is provided.
          schema:
            type: string
        - name: includeDescription
          in: query
          required: false
          description: When true, text also matches the entity description. Defaults to false.
          schema:
            type: boolean
            default: false
        - name: tagIDs
          in: query
          required: false
          description: CSV list of tag UUIDs. Matches entities with any supplied tag.
          schema:
            type: string
        - name: parentID
          in: query
          required: false
          description: UUID of an ancestor entity. Matches all descendants but not the ancestor itself.
          schema:
            $ref: '#/components/schemas/UUID'
        - name: status
          in: query
          required: false
          description: Optional entity status filter. It combines with text, tagIDs and parentID using AND. When omitted, the response includes every status allowed by the caller's permissions.
          schema:
            $ref: '#/components/schemas/EntityStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: assets, relations, signs, tags, parent, variant, ancestors'
          schema:
            type: string
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySearchResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/by-3d-mapping:
    get:
      tags:
        - Entities > 3D
      summary: Resolves an entity from its 3D mapping reference.
      description: Uses `mainAssetID` when `parentAssetPath` is omitted or empty. Otherwise resolves by `parentAssetID + parentAssetPath`.
      parameters:
        - name: assetID
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: parentAssetPath
          in: query
          required: false
          schema:
            type: string
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: assets, relations, signs, tags, parent, variant, ancestors'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}:
    get:
      tags:
        - Entities
      summary: Gets an entity by ID.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: assets, relations, signs, tags, parent, variant, ancestors'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Entities
      summary: 'Updates an entity. In PATCH, omitted properties are left unchanged. Sending `parentID: null` removes the parent relation.'
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityUpdate'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entities
      summary: Deletes an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}/duplicate:
    post:
      tags:
        - Entities
      summary: Duplicates an entity subtree including composed records and linked assets.
      description: Creates a full copy of the entity and descendants. Asset files and asset rows are duplicated so the clone does not share asset references with the source.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}/3d-mapping:
    get:
      tags:
        - Entities > 3D
      summary: Gets the 3D mapping attached to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity3dMapping'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      tags:
        - Entities > 3D
      summary: Creates or updates the 3D mapping attached to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity3dMapping'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity3dMapping'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entities > 3D
      summary: Deletes the 3D mapping attached to an entity without deleting the entity itself.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}/assets:
    get:
      tags:
        - Entities > Assets
      summary: Gets the assets attached to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entities > Assets
      summary: Adds assets to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entities > Assets
      summary: Removes assets from an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}/relations:
    get:
      tags:
        - Entities > Relations
      summary: Gets the soft-related entities attached to an entity.
      description: Returns relations where the requested entity appears either as `entity_a_id` or `entity_b_id`.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityRef'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entities > Relations
      summary: Adds soft-related entities to an entity.
      description: Stored as a soft symmetric relation, so the link is visible from both entities.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entities > Relations
      summary: Removes soft-related entities from an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}/signs:
    get:
      tags:
        - Entities > Signs
      summary: Gets the signs attached to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sign'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entities > Signs
      summary: Adds signs to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entities > Signs
      summary: Removes signs from an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/{entityID}/tags:
    get:
      tags:
        - Entities > Tags
      summary: Gets the tags attached to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Entities > Tags
      summary: Adds tags to an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Entities > Tags
      summary: Removes tags from an entity.
      parameters:
        - name: entityID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/bulk:
    parameters:
      - $ref: '#/components/parameters/components-idempotency-key'
      - $ref: '#/components/parameters/components-preview'
    post:
      tags:
        - Entities
      summary: Creates entities atomically using client-assigned UUIDs.
      description: Parents may reference entities in the same request or entities committed by an earlier request. `Idempotency-Key` is optional but recommended for safe retries. Its current server implementation is in-memory and therefore does not survive process restarts or coordinate multiple instances.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntityCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/components-bulk-success'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/components-bulk-error'
        '409':
          $ref: '#/components/responses/components-bulk-error'
        '422':
          $ref: '#/components/responses/components-bulk-error'
        5XX:
          $ref: '#/components/responses/5XX'
    patch:
      tags:
        - Entities
      summary: Applies ordered entity changes to server-resolved targets in one transaction.
      description: |
        Every operation resolves its target from the hierarchy as it existed when the request began. Operations are then applied in request order and committed atomically.
        `entityIDs` and `subtreeRootIDs` may be combined; every subtree includes its root, including when the root is a leaf. `variantID` is an alternative positive selector. Exclusions always win.
        A `parentID` change is accepted only for an explicit `entityIDs` target. Tags and signs must exist and are assigned only to entities whose variant supports them; incompatible target/resource pairs are skipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntityOperationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/components-bulk-success'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/components-bulk-error'
        '409':
          $ref: '#/components/responses/components-bulk-error'
        '422':
          $ref: '#/components/responses/components-bulk-error'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/bulk/delete:
    parameters:
      - $ref: '#/components/parameters/components-idempotency-key'
      - $ref: '#/components/parameters/components-preview'
    post:
      tags:
        - Entities
      summary: Deletes explicit entities or server-resolved subtrees atomically.
      description: Entity deletion cascades through descendants. An exclusion is rejected when an included ancestor would still delete that entity through the cascade.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/components-bulk-success'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/components-bulk-error'
        '409':
          $ref: '#/components/responses/components-bulk-error'
        '422':
          $ref: '#/components/responses/components-bulk-error'
        5XX:
          $ref: '#/components/responses/5XX'
  /entities/bulk/duplicate:
    parameters:
      - $ref: '#/components/parameters/components-idempotency-key'
      - $ref: '#/components/parameters/components-preview'
    post:
      tags:
        - Entities
      summary: Duplicates multiple independent entity subtrees atomically.
      description: Each `subtreeRootID` identifies a root whose complete subtree is duplicated. Every duplicated root remains under its current parent. The response includes the generated IDs for all copies and a source-to-copy mapping for each requested root.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDuplicateRequest'
      responses:
        '200':
          $ref: '#/components/responses/components-bulk-success'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/components-bulk-error'
        '409':
          $ref: '#/components/responses/components-bulk-error'
        '422':
          $ref: '#/components/responses/components-bulk-error'
        5XX:
          $ref: '#/components/responses/5XX'
  /assets:
    get:
      tags:
        - Assets
      summary: Gets assets filtered by type.
      parameters:
        - name: assetType
          in: query
          required: false
          schema:
            type: string
            enum:
              - image
              - video
              - scene_3d
              - model_3d
              - document
              - other
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      tags:
        - Assets
      summary: Creates a new asset metadata record and uploads a file.
      description: The maximum multipart request size is deployment-configurable. `rayman-core` defaults to 1.5 GiB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                assetType:
                  type: string
                  description: 'Optional override. When omitted, it is inferred from the file MIME type: `image/*`, `video/*`, GLB, and PDF are classified as image, video, model_3d, and document respectively.'
                  enum:
                    - image
                    - video
                    - scene_3d
                    - model_3d
                    - document
                    - other
                metadata:
                  $ref: '#/components/schemas/Metadata'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          description: The multipart request exceeds the configured upload size limit.
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /assets/{assetID}:
    get:
      tags:
        - Assets
      summary: Gets an asset by ID.
      parameters:
        - name: assetID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      tags:
        - Assets
      summary: Deletes an asset if it is no longer referenced.
      parameters:
        - name: assetID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
  /assets/{assetID}/download:
    get:
      tags:
        - Assets
      summary: Downloads the binary contents of an asset.
      parameters:
        - name: assetID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: Range
          in: header
          required: false
          description: Byte range request (for partial downloads), for example `bytes=0-1048575`.
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/octet-stream: {}
        '206':
          description: Partial content returned for a valid Range request.
          content:
            application/octet-stream: {}
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '416':
          description: Requested Range Not Satisfiable.
        5XX:
          $ref: '#/components/responses/5XX'
    head:
      tags:
        - Assets
      summary: Returns headers for an asset download (without body).
      parameters:
        - name: assetID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: Range
          in: header
          required: false
          description: Byte range request (for partial download headers), for example `bytes=0-1048575`.
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully.
        '206':
          description: Partial content headers for a valid Range request.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '416':
          description: Requested Range Not Satisfiable.
        5XX:
          $ref: '#/components/responses/5XX'
  /assets/{assetID}/thumbnail:
    get:
      tags:
        - Assets
      summary: Gets an image thumbnail, or redirects to the original while it is unavailable.
      description: Only JPEG and PNG image assets have generated thumbnails. If the requested thumbnail is not generated or its file is missing, returns a non-cacheable 302 redirect to `/assets/{assetID}/download`.
      parameters:
        - name: assetID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: size
          in: query
          required: false
          description: Target maximum edge. Defaults to `md`.
          schema:
            type: string
            enum:
              - sm
              - md
              - lg
            default: md
      responses:
        '200':
          description: Thumbnail binary content.
          content:
            image/jpeg: {}
            image/png: {}
        '302':
          description: Thumbnail is unavailable; follow the Location header to download the original asset. Response has Cache-Control no-store.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        5XX:
          $ref: '#/components/responses/5XX'
    head:
      tags:
        - Assets
      summary: Returns headers for a thumbnail or its fallback redirect.
      parameters:
        - name: assetID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum:
              - sm
              - md
              - lg
            default: md
      responses:
        '200':
          description: Thumbnail headers.
        '302':
          description: Thumbnail is unavailable; follow the Location header to download the original asset.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /sign-icons:
    get:
      tags:
        - Signs > Icons
      summary: Lists available sign icon IDs.
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UUID'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        5XX:
          $ref: '#/components/responses/5XX'
  /sign-icons/{iconID}/download:
    get:
      tags:
        - Signs > Icons
      summary: Downloads a static sign icon by ID.
      parameters:
        - name: iconID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: Range
          in: header
          required: false
          description: Byte range request (for partial downloads), for example `bytes=0-1048575`.
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully.
          content:
            image/png: {}
            image/svg+xml: {}
            application/octet-stream: {}
        '206':
          description: Partial content returned for a valid Range request.
          content:
            image/png: {}
            image/svg+xml: {}
            application/octet-stream: {}
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '416':
          description: Requested Range Not Satisfiable.
        5XX:
          $ref: '#/components/responses/5XX'
    head:
      tags:
        - Signs > Icons
      summary: Returns headers for a sign icon download (without body).
      parameters:
        - name: iconID
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: Range
          in: header
          required: false
          description: Byte range request (for partial download headers), for example `bytes=0-1048575`.
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully.
        '206':
          description: Partial content headers for a valid Range request.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '416':
          description: Requested Range Not Satisfiable.
        5XX:
          $ref: '#/components/responses/5XX'
  /procedures:
    get:
      tags:
        - Procedures
      summary: Gets procedures from the entity model.
      parameters:
        - name: variantID
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
        - name: status
          in: query
          required: false
          description: Optional entity status filter. When omitted, the response includes every status allowed by the caller's permissions.
          schema:
            $ref: '#/components/schemas/EntityStatus'
        - name: expand
          in: query
          required: false
          description: 'CSV list of expansions. Supported values: assets, relations, signs, tags, parent, variant, steps, ancestors'
          schema:
            type: string
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
[...]
